.feature-root {
  padding-top: 60px;
  padding-bottom: 32px;
}
.feature-root img {
  max-height: 90vh;
  max-width: 100%;
}

.feature-device-horiz {
  text-align: right;    
}

.feature-device-verti {
  margin-top: 32px;
  text-align: center;
}

.feature-text-horiz {
  margin-top: auto;
  margin-bottom: auto;
}

.feature-text-verti {
  text-align: center;
}

@media (max-width: 767px) {
  .feature-root {
    text-align: center;
  }
  .feature-device-horiz {
    margin-top: 32px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .feature-root img {
    max-height: 480px;
  }
}