/*
 *	HTML5 Device Mockups
 *
 *	By:
 *		Tomi Hiltunen
 *		tomi@mitakuuluu.fi
 *		http://fi.linkedin.com/in/tomihiltunen/
 *
 *		Angelos Arnis
 *		http://fi.linkedin.com/in/angelosarnis/
 *
 *  Device:
 *   - Microsoft Lumia 950
 *   - Microsoft Surface
 *   - HP Elite X3
 *
 */

 /* GENERAL STYLE */

.device-mockup {
	position: relative;
	width: 100%;
	padding-bottom: 200%;
}

	.device-mockup > .device {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 100%; height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: url("lumia950/lumia950_dark_port.png");
	}

		.device-mockup > .device > .screen {
			position: absolute;
			top:    11.0438729%;
			bottom: 14.6747352%;
			left:   13.364486%;
			right:  13.364486%;
			overflow: hidden;
		}

		.device-mockup > .device > .button {
			position: absolute;
			top: 0; left: 0;
			display: none;
			overflow: hidden;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			cursor: pointer;
		}


/* DEVICES */

/* Lumia 950 */
.device-mockup.lumia950
.device-mockup.lumia950.portrait {
	padding-bottom: 100.796353%;
}

.device-mockup.lumia950.landscape {
	padding-bottom: 56.3330381%;
}
.device-mockup.lumia950 > .device,
.device-mockup.lumia950.portrait > .device {
	background-image: url("lumia950/lumia950_dark_port.png");
}
.device-mockup.lumia950.landscape > .device {
	background-image: url("lumia950/lumia950_dark_land.png");
}

.device-mockup.lumia950 > .device > .screen,
.device-mockup.lumia950.portrait > .device > .screen {
	top: 11.8%; bottom: 8%; left: 6%; right: 6%;
}
.device-mockup.lumia950.landscape > .device > .screen {
	top: 12.2641509%; bottom: 12.2641509%; left: 10.5403012%; right: 18.6005314%;
}

/* Elite X3 */
.device-mockup.eliteX3
.device-mockup.eliteX3.portrait {
	padding-bottom: 100.796353%;
}

.device-mockup.eliteX3.landscape {
	padding-bottom: 56.3330381%;
}
.device-mockup.eliteX3 > .device,
.device-mockup.eliteX3.portrait > .device {
	background-image: url("eliteX3/eliteX3_port.png");
}
.device-mockup.eliteX3.landscape > .device {
	background-image: url("eliteX3/eliteX3_land.png");
}

.device-mockup.eliteX3 > .device > .screen,
.device-mockup.eliteX3.portrait > .device > .screen {
	top: 9%; bottom: 6.98%; left: 3.45%; right: 4.4%;
}
.device-mockup.eliteX3.landscape > .device > .screen {
	top: 12.2641509%; bottom: 12.2641509%; left: 10.5403012%; right: 18.6005314%;
}

/* Microsoft Surface */
.device-mockup.surface,
.device-mockup.surface.landscape {
	padding-bottom: 64.7584973%;
}

.device-mockup.surface > .device,
.device-mockup.surface.landscape > .device {
	background-image: url("surface/surface.png");
}

.device-mockup.surface > .device > .screen,
.device-mockup.surface.landscape > .device > .screen {
	top: 14.5488029%; bottom: 14.9171271%; left: 9.36195587%; right: 9.36195587%;
}